<form name="vm.customerForm" class="row" ng-submit="vm.save(vm.data)">
  <fieldset>
    <div class="col-md-6 form-group">
      <label>Nome *</label>
      <input
          type="text"
          name="givenName"
          class="form-control"
          placeholder="Nome do Cliente"
          size="50"
          autocomplete="off"
          required
          ng-model="vm.data.givenName"
          ng-minlength="3"
          maxlength="50">
    </div>
    <div class="col-md-6 form-group">
      <label>Sobrenome</label>
      <input
          type="text"
          name="familyName"
          class="form-control"
          placeholder="Sobrenome do Cliente"
          size="50"
          autocomplete="off"
          ng-model="vm.data.familyName"
          ng-minlength="3"
          maxlength="50">
    </div>
    <div class="col-md-6 form-group">
      <label>Telefone 1</label>
      <input
          type="tel"
          name="telephones[]"
          class="form-control"
          size="11"
          autocomplete="off"
          ng-model="vm.data.telephones"
          maxlength="11">
    </div>
    <div class="col-md-6 form-group">
      <label>Telefone 2</label>
      <input
          type="tel"
          name="telephones[]"
          class="form-control"
          size="11"
          autocomplete="off"
          ng-model="vm.data.telephones"
          maxlength="11">
    </div>
    <div class="col-md-6 form-group">
      <label>Apelido</label>
      <input
          type="text"
          name="nickName"
          class="form-control"
          placeholder="Apelido do Cliente"
          size="50"
          autocomplete="off"
          ng-model="vm.data.nickName"
          ng-minlength="3"
          maxlength="50">
    </div>
    <div class="col-md-6 form-group">
      <label>Sexo</label>
      <select
          name="gender"
          class="form-control"
          ng-model="vm.data.gender">
          <option value="F">Feminino</option>
          <option value="M">Masculino</option>
      </select>
    </div>
    <div class="col-md-6 form-group">
      <label>E-mail</label>
      <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Ex: cliente@tegustaempanadas.com.br"
          size="100"
          autocomplete="off"
          ng-model="vm.data.email"
          ng-minlength="3"
          maxlength="100">
    </div>
    <div class="col-md-6 form-group">
      <label>Data de Nascimento</label>
      <input
          type="date"
          name="birthDate"
          class="form-control"
          size="10"
          autocomplete="off"
          ng-model="vm.data.birthDate"
          ng-minlength="3"
          maxlength="10">
    </div>
    <div class="col-md-6 form-group">
      <label>Rua</label>
      <input
          type="text"
          name="address[streetAddress]"
          class="form-control"
          size="100"
          autocomplete="off"
          ng-model="vm.data.address.streetAddress"
          ng-minlength="3"
          maxlength="100">
    </div>
    <div class="col-md-6 form-group">
      <label>Número</label>
      <input
          type="tel"
          name="address[number]"
          class="form-control"
          size="100"
          autocomplete="off"
          ng-model="vm.data.address.number"
          ng-minlength="3"
          maxlength="100">
    </div>
    <div class="col-md-6 form-group">
      <label>Estado</label>
      <select
          name="addressRegion"
          class="form-control"
          name="address[addressRegion]"
          ng-model="vm.data.address.addressRegion"
          required>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espirito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MT">Mato Grosso</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
      </select>
    </div>
    <div class="col-md-6 form-group">
      <label>Cidade</label>
      <input
          type="text"
          name="address[district]"
          class="form-control"
          size="100"
          autocomplete="off"
          ng-model="vm.data.address.district"
          ng-minlength="3"
          value="São Paulo"
          maxlength="100">
    </div>
    <div class="col-md-6 form-group">
      <label>Bairro</label>
      <input
          type="text"
          name="address[addressLocality]"
          class="form-control"
          size="100"
          autocomplete="off"
          ng-model="vm.data.address.addressLocality"
          ng-minlength="3"
          maxlength="100">
    </div>
    <div class="col-md-6 form-group">
      <label>CEP</label>
      <input
          type="text"
          name="address[postalCode]"
          class="form-control"
          size="8"
          autocomplete="off"
          ng-model="vm.data.address.postalCode"
          ng-minlength="8"
          maxlength="8">
    </div>
    <div class="col-md-6 form-group">
      <label>Complemento</label>
      <input
          type="text"
          name="address[complement]"
          class="form-control"
          size="50"
          autocomplete="off"
          ng-model="vm.data.address.complement"
          maxlength="50">
    </div>
    <div class="col-md-6 form-group">
      <label>Referência</label>
      <input
          type="text"
          name="address[referencePoint]"
          class="form-control"
          size="50"
          autocomplete="off"
          ng-model="vm.data.address.referencePoint"
          maxlength="50">
    </div>


    <div class="col-md-12">
      <input type="submit"
            ng-disabled="vm.customerForm.$invalid"
            class="btn btn-primary"
            value="Salvar" />
    </div>
  </fieldset>
</form>
