html, body {
  height: 100%;
  background-color: #fff;
}

body {
  min-height: 100%;
  position: relative;
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
}

h1 {
  font-size: 1.3em;
}

a { text-decoration: none; }

a:hover { text-decoration: underline; }

fieldset { border: none; padding: 0; margin: 0; }
#view {
  overflow: hidden;
}
