html, body
  height 100%
  background #fff

body
  min-height 100%
  min-width 300px
  position relative
  font-family 'Helvetica Neue', sans-serif
  color #444

h1,h2,h3,h4,h5,h6
  margin-top 3px

h1
  font-size 1.3em

a
  text-decoration none

a:hover
  text-decoration underline

fieldset
  border none padding 0 margin 0

code, kbd, pre, samp
  font-family Menlo,Monaco,Consolas,"Courier New",monospace

.table>tbody>tr>td
  vertical-align middle

table label
  display block

pre
  overflow auto
  background-color #f5f5f5
  border 1px solid #ccc
  border-radius 2px
  color #333
  display block
  font-size 0.8125rem
  line-height 1.42857
  margin 0 0 10px
  padding 9.5px
  word-break break-all
  word-wrap break-word
  margin 0 15px


.content
  padding 10px 15px
  min-height 90%
  width 99%
  position relative


.pointer
  cursor pointer

.align-right
  text-align right
