.main
  height 100%
  display inline-block
  width calc(100% - 200px)
  position relative
  max-width 1200px


.main.is-open
  transform translate(200px)


@media only screen and (max-width 1050px)

  .main
    transform translate(0px)
    transition transform 0.5s ease 0s
    width 100%


