<form name="vm.searchProductForm"
  class="search-form"
  role="search"
  ng-submit="state.go(state.current.name, { q: vm.q })"
  novalidate>
    <div class="input-group">
        <input
          type="text"
          id="search-input"
          placeholder="Nome do produto"
          autocomplete="off"
          name="search"
          ng-model="vm.q"
          class="form-control">

        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-disabled="vm.searchProductForm.$invalid">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </span>
    </div>
</form>

<button class="btn btn-secondary" ng-click="state.go('app.product')">+ Novo</button>

<p ng-if="!vm.data.items.length">Nenhum produto encontrado</p>

<h2>Q: {{vm.q}}</h2>
<table class="table" ng-if="vm.data.items.length">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Preço</td>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer"
      ng-repeat="product in vm.data.items | filter:vm.q"
      ng-click="state.go('app.product', { id: product._id })">
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency }}</td>
    </tr>
  </tbody>
</table>


<ul uib-pagination
  previous-text="&lsaquo;"
  next-text="&rsaquo;"
  last-text="&raquo;"
  force-ellipses="true"
  max-size="9"
  items-per-page="10"
  total-items="vm.data._metadata.total"
  ng-if="vm.data._metadata.total > vm.data._metadata.perPage"
  ng-model="vm.data._metadata.page"
  ng-change="state.go(state.current, { page: vm.data._metadata.page })">
</ul>
