.order-print
  font-family Menlo,Monaco,Consolas,"Courier New",monospace;
  max-width 705px


.order-print table
  width 100%


.order-print-header
  text-align center
  width 100%


.order-print-line
  margin-bottom 10px


.order-print-table tr
  width 100%
  padding-bottom 5px

