@media print
  body, html
    height auto

  body
    font-family Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size 18px
    min-height auto
    word-break normal
    word-wrap normal
    white-space nowrap

  td
    word-break normal
    word-wrap normal
    white-space nowrap


  .main
    width 100%
    display block


  form,
  .sidebar,
  .pace,
  .main .header
    display none


  .row
    margin 0


  .col-md-12,
  .content
    padding 0


  .order-print-table
    width 100%


