.uib-datepicker .btn,
.uib-datepicker .btn:active,
.uib-datepicker .btn.active,
.uib-datepicker .btn:focus,
.uib-datepicker .btn:hover
  outline none


.uib-datepicker .btn-sm
  padding 5px 7px


.uib-datepicker .btn:hover
  background $ligther-gray


.uib-datepicker .btn:active,
.uib-datepicker .btn.active
  box-shadow none


.uib-datepicker .btn-default
  border-color transparent


.uib-datepicker .uib-day button,
.uib-datepicker .uib-month button,
.uib-datepicker .uib-year button
  border none


.uib-datepicker .btn-info,
.uib-datepicker .btn-info:hover
  background #722872
  color #fff
  border-color #722872


.uib-datepicker-popup.dropdown-menu
  box-shadow 0 2px 2px rgba(0,0,0,0.1)
  padding 3px


.uib-time input
  padding-left 0
  padding-right 0
  width 35px!important


.form-inline .input-group > .form-control[uib-datepicker-popup],
.form-inline .form-control[uib-datepicker-popup]
  width 95px
  padding-left 0
  padding-right 0
  text-align center

